<div class="side-avata layui-hide-xs">
    <div class="side-avata-bg">
        <img src="{{ url_for('blog.static', filename='imgs/brain.jpg') }}" alt="">
    </div>
    <span id="adminlogin">
        <img src="{{ url_for('blog.static', filename='imgs/brain.jpg') }}" alt="">
    </span>
    <div class="nickname">
        <p>Frank fan</p>
    </div>
    <div class="link">
        <a href="https://github.com/bricker11" target="_blank">Github</a>
        <a href="https://mail.qq.com/" target="_blank">Email</a>
    </div>
</div>